<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Studente - App Studio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Benvenuto Studente!</h1>

    <p>Tempo a disposizione:</p>
    <div id="timer-display">--:--</div>

    <div id="controls">
        {% if not timer_running %}
            <button id="start-button">Utilizza il cellulare</button>
        {% else %}
            <p>Puoi utilizzare il cellulare</p>
        {% endif %}
    </div>

    <div class="score">Punteggio: <span id="score">{{ score }}</span></div>

    <div id="background-selector">
        <label for="bg-select">Scegli uno sfondo:</label>
        <select id="bg-select" name="background">
            {% for bg in backgrounds %}
            <option value="{{ bg|lower }}">{{ bg }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="footer-links">
        <a href="{{ url_for('index') }}">Esci</a>
         {% if session.user_type in ['professor', 'parent'] %}
            | <a href="{{ url_for('professor_parent_setup') }}">Torna alle Impostazioni</a>
         {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>